{% extends 'accounts/main.html' %}
{% load static %}


{% block content %}

<div class="row">
    <div class="col">
        <table class="table table-sm">
            <tr>
              <th></th>
              <th>Customer</th>
              <th>Payment Name</th>
              <th>Customer Since</th>
              <th>Days until Expiry</th>
    
            </tr>
    
            {% for i in customers %}
            <tr>
              <td><a class="btn btn-sm btn-info" href="{% url 'customer' i.id %}">View</a></td>
              <td>{{i.name}}</td>
              <td>{{i.payment_name}}</td>
              <td>{{i.customer_since}}</td>
              <td>{{i.expiration}}</td>
        
            </tr>
            {% endfor %}
    
          </table>
    </div>
</div>

{% endblock %}